process.executor = 'pbspro'

params {
    cellranger_path = "/rds/general/user/pr422/home/PhD/cellranger/cellranger-8.0.1/cellranger"
    reference = "/rds/general/user/pr422/home/PhD/refrence_genome/mouse/refdata-gex-GRCm39-2024-A"
    base_dir = "/rds/general/user/pr422/home/PhD/DATA/epilep/mouse/hippo/1.Data"
    outdir = "/rds/general/user/pr422/home/PhD/DATA/epilep/mouse/hippo/output"
}

process {
    withName: 'map_sample' {
        module = 'anaconda3/personal'       
        cpus = 40                       
        memory = '480 GB'                    
        time = '8h'                          
        clusterOptions = "-lselect=1:ncpus=40:mem=480gb -l walltime=08:00:00"  

    }
}

// Enable logging and reporting for monitoring pipeline performance
timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}
