process.executor = 'pbspro'

params {
    cellranger_path = "/rds/general/user/pr422/home/PhD/cellranger/cellranger-8.0.1/cellranger"   
    reference = "/rds/general/user/pr422/home/PhD/refrence_genome/mouse/refdata-gex-GRCm39-2024-A" 
    sample_dir = "/rds/general/user/pr422/home/PhD/DATA/epilep/mouse/hippo/combined_fastqs/S17R" 
    outdir = "/rds/general/user/pr422/home/PhD/DATA/epilep/mouse/hippo/output"
}

process {
    withName: 'map_sample' {
        module = 'anaconda3/personal'                    // Load the Anaconda environment
        cpus = 40                                        // Number of CPUs to use
        memory = '480 GB'                                // Memory allocation
        time = '8h'                                      // Maximum run time
        clusterOptions = "-lselect=1:ncpus=40:mem=480gb -l walltime=08:00:00"  // PBS-specific options
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}
